#background-image-home {
  background-image: url("{{site.baseurl}}/assets/images/food/IMG_2575.JPG");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}

#background-image-catering-delivery {
  background-image: url("{{site.baseurl}}/assets/images/food/IMG_1928.JPG");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}

#background-image-menu {
  background-image: url("{{site.baseurl}}/assets/images/food/IMG_2574.JPG");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}
 
#background-image-about {
  background-image: url("{{site.baseurl}}/assets/images/food/IMG_2573.JPG");
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}

.resturant-img {
  height: auto;
  max-width: 100%;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.text-color {
  color: white;

}

.box {
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
}

section.color {
  background-color: #FF6B6B;
  height: 50vh;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.font-size-text {
  font-size: 20px;
}

.font-size-text1 {
  font-size: 30px;
}

.font-size-text2 {
  font-size: 50px;

}